<div class="wrapper">
  <div class="back-to-top">
    <a class="back-to-top__link" href="#top">
      <span class="back-to-top__label">{{ "Haut de la page" | t }}</span>
    </a>
  </div>

  {% if theme_settings.footer_display_newsletter %}
    <div class="footer__subscribe">
      {% newsletter_subscribe_form %}
        <fieldset class="field-group">
          <div class="input">
            <label class="subscribe__label" for="subscriberEmail">{{ "Entrez votre email pour recevoir notre newsletter&nbsp;:" | t }}</label>
            <input id="subscriberEmail" name="subscriber[email]" type="email" required>
          </div>
          <div class="submit">
            <button class="button" type="submit">
              <i class="icon icon-check"></i> {{ "Valider" | t }}
            </button>
          </div>
        </fieldset>
      {% endnewsletter_subscribe_form %}
    </div>
  {% endif %}

  <div class="footer__social">
    <ul class="social__items">
      {% if restaurant.phone? %}
      <li class="social__item">
        <a class="social__link" href="tel:{{ restaurant.phone_uri }}">
          <i class="icon icon-phone"></i>
          <span class="social__label">{{ restaurant.phone }}</span>
        </a>
      </li>
      {% endif %}
      {% if restaurant.email? %}
        <li class="social__item">
          <a class="social__link" href="mailto:#{{restaurant.email}}">
            <i class="icon icon-envelop"></i>
            <span class="social__label">{{ "Envoyer un email" | t }}</span>
          </a>
        </li>
      {% endif %}
      {% if restaurant.facebook_url? %}
        <li class="social__item">
          <a class="social__link" href="{{restaurant.facebook_url}}">
            <i class="icon icon-facebook"></i>
            <span class="social__label">{{ "Notre page Facebook" | t }}</span>
          </a>
        </li>
      {% endif %}
      {% if restaurant.twitter_url? %}
        <li class="social__item">
          <a class="social__link" href="{{restaurant.twitter_url}}">
            <i class="icon icon-twitter"></i>
            <span class="social__label">{{ "Notre compte Twitter" | t }}</span>
          </a>
        </li>
      {% endif %}
      {% if restaurant.tripadvisor_url? %}
        <li class="social__item">
          <a class="social__link" href="{{restaurant.tripadvisor_url}}">
            <i class="icon icon-tripadvisor"></i>
            <span class="social__label">{{ "Notre page TripAdvisor" | t }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="footer__legal">
    <a class="legal__link" href="{{ restaurant.terms_of_use_url }}">
      {{ "Mentions légales |" | t }}
    </a>
    {% if localized_page_paths.size > 0 %}
      <div class="footer__local-choice">
        {% for path in localized_page_paths %}
          {% if path.current? %}
            <strong class="footer__local-choice-item--current">
              <span class="footer__local-choice">{% if forloop.last %}{{ path.locale_name }}{% else %}{{ path.locale_name }}<span class="footer__local-separator">|</span>{% endif%}</span>
            </strong>
          {% else %}
          <a href="{{ path.url }}" class="footer__local-choice-item">
            <span class="footer__local-choice">{% if forloop.last %}{{ path.locale_name }}{% else %}{{ path.locale_name }}<span class="footer__local-separator">|</span>{% endif%}</span>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
