{% newsletter_subscribe_form %}
  <section class="page-header page-header--newsletter">
    <div class="wrapper">
      <header class="section__header page-header__header">
        <h1 class="section__title page-header__title">{{ "Inscription à la newsletter" | t }}</h1>
      </header>
      <div class="section__main page-header__description">
        {% if form.created_successfully? %}
          <p>{{ "Abonnez-vous à notre newsletter pour recevoir les dernières nouveautés du restaurant." | t }}</p>
        {% else %}
          <div class="message message--error">
            <div class="message__description">
              <p>
                <i class="icon icon-warning"></i>
                {{ "Veuillez corriger les erreurs mentionnées ci-dessous :" | t }}
              </p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section class="newsletter-form">
    <div class="wrapper">
      <fieldset class="field-group">
        <div class="input">
          <label for="subscriberEmail">{{ "Votre adresse email :" | t }}</label>
          <input id="subscriberEmail" name="subscriber[email]" type="text">
          {% unless form.created_successfully? %}
            <div class="input-hint input-hint--error">
              {{ form.error }}
            </div>
          {% endunless %}
        </div>
        <div class="submit">
          <input class="button" type="submit" value="{{ "Valider" | t }}">
        </div>
      </fieldset>
    </div>
  </section>
{% endnewsletter_subscribe_form %}
