{% if restaurant.summary? %}
  <section class="page-header page-header--restaurant">
    <div class="wrapper">
      <header class="section__header page-header__header">
        <h1 class="section__title page-header__title">{{ "Le restaurant" | t }}</h1>
      </header>
      <div class="section__main page-header__description">
        {{ restaurant.summary }}
      </div>
    </div>
  </section>
{% endif %}

{% if photos.size > 0 %}
  <section class="restaurant-gallery">
    <div class="wrapper">
      <div class="section__main gallery">
        {% for photo in photos %}
          {% include 'photo' with photo:photo, i:forloop.index, l:forloop.length %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% if theme_settings.display_google_business_view_embed %}
  <section class="business-view">
    <div class="wrapper">
      <header class="section__header">
        <h2 class="section__title">{{ "Visite virtuelle" | t }}</h2>
      </header>
      {% google_business_view_embed: "size:100%x300" %}
      {% if theme_settings.display_google_business_view_url %}
      <footer class="section__footer">
        <p>
          <a class="button business__link" href="{% google_business_view_url %}">
            {{ "Visiter" | t }}
          </a>
        </p>
      </footer>
      {% endif %}
  </section>
{% endif %}

{% if ten_latest_news.size > 0 %}
  <section class="news wrapper">
    <main class="section__main news__body">
      <header class="section__header news__header">
        <a href="{{ localized_root_path }}/news" class="home-news-title__link">
          <div class="section__title">
            <h2>{{ "Actualités" | t }}</h2>
          </div>
        </a>
      </header>
      {% for news in ten_latest_news %}
        {% if forloop.index <= 5 %}
          <section class="news__one-news">
            <a href="{{ news.url }}" class="news__one-news-link">
              <div class="{% if news.image? %}news__one-news-content-wrapper{% else if %}news__one-news-content-wrapper news__one-news-content-wrapper--no-image{% endif %}">
                <div class="news__one-news-content">
                  {% if news.title %}
                    <h5 class="news__one-news-title">{{ news.title }}</h5>
                  {% endif %}
                  {% if news.image? %}
                    <div class="news__one-news-image" style="background:url('{{ news.image | custom_image_url: '450x400#' }}');background-size:cover;"></div>
                  {% endif %}
                  {% if news.summary %}
                    <p class="news__one-news-summary">{{ news.summary }}</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </section>
          <hr class="news__separator {% if forloop.last %}news__separator--last{% endif %}">
          <div class="clearer"></div>
        {% endif %}
      {% endfor %}
    </main>
  </section>
{% endif %}