<section class="page-header page-header--legal">
  <div class="wrapper">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">Legal Disclaimer</h1>
    </header>
  </div>
</section>

<section class="page-body page-body--legal">
  <div class="wrapper">
    <div class="section__main">
      <h2>Identification and Publication</h2>
      <h3>Publisher</h3>
      <p>
        This website is published by <strong>{{company.name}}</strong>, <strong>{{company.statute}}</strong>
        {% if company.capital != nil %}
         with a capital of <strong>{{company.capital}} euros</strong>
        {% endif %}
        , registered under number <strong>{{ company.registration_number }}</strong> and whose head office is situate at <strong>{{ company.registration_address }}</strong>. The publication manager of <a href="http://{{ restaurant.host }}/" title="{{ restaurant.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> is <strong>{{ company.publication_director }}</strong>
      </p>
      <h3>Hosting</h3>
      <p>
        This website is designed and hosted by S.A.R.L <a href="http://www.mh-communication.fr" title="MH Communication"><strong>MH Communication</strong></a>, <a href="http://www.restoready.com" title="MH Communication"><strong>RestoReady</strong></a> department, Internet solution for developing your restaurant, registered at Caen under number <strong>50092784300028</strong> and whose head office is situate at 171, rue d'Épron 14200, Hérouville Saint Clair, France.
      </p>
      <h2>Intellectual Property</h2>
      <p>
        The website graphics charter was created by RestoReady.
      </p>

      <p>
        All text, graphics, images, logos and photos published on <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> may be subject to reproduction on hard or electronic media, provided that the name and address of the website are cited and that this reproduction is not subject to commercial use. Non-compliance with the aforementioned provisions may constitute counterfeiting, for which the author may be held civilly or criminally liable.
      </p>
      <h2>General Conditions of Use of the Website</h2>
      <p>
        This website is accessible to users at all times. Access may however be interrupted for technical maintenance, as decided by <strong>{{company.name}}</strong> or by MH Communication, which shall endeavour to inform users in advance of the dates and times of the intervention.
      </p>

      <p>
        The <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website is designed to provide information regarding all of the company's activities.
      </p>

      <p>
        <strong>{{company.name}}</strong> shall endeavour to provide as accurate information as possible on the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website. However, it may not be held liable for any omissions, inaccuracies and updating deficiencies, regardless of whether the latter originate from the former or from third party partners providing this information.
      </p>

      <p>
        All information on the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website is provided for information purposes only and is subject to modification. Furthermore, the information published on the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website is not exhaustive in nature. It is provided subject to any modifications implemented since its publication online.
      </p>

      <p>
        The website may not be held liable for any material damage connected to the use of this website. Moreover, the website user undertakes to access the website using recent hardware, not containing any viruses and with an up-to-date, latest generation web browser.
      </p>
      <h2>Management of personal data</h2>
      <p>
        In France, personal data is particularly protected by Law No. 78-87 of 6 January 1978, Law No. 2004-801 of 6 August 2004, Article L. 226-13 of the French Penal Code and the European Directive of 24 October 1995.
      </p>

      <p>
        The following information may be collected when using the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website: the URL of links via which the user accessed the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website, the user's service provider and the user's Internet Protocol (IP) address.
      </p>

      <p>
        In any event, <strong>{{company.name}}</strong> only collects personal information on the user for the requirements of certain services proposed by the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website. The user provides this information knowingly, in particular as he/she is the person entering this information. <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> users are therefore advised on whether or not provision of this information is mandatory.
      </p>

      <p>
        In compliance with the provisions of Articles 38 et seq. of the French Data Protection Act 78-17 of 6 January 1978, all users have the right to access, rectify or object to personal data concerning the former, by submitting a written, signed request accompanied by a copy of signed proof of identity of the holder of the document, stating the address to which the reply should be sent.
      </p>

      <p>
        No personal information on <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> users is published without the knowledge of the latter, or exchanged, transferred or sold on any medium whatsoever to third parties. Only the hypothesis of the sale of <strong>{{company.name}}</strong> and of its rights could lead to the transmission of said information to a potential buyer, who in turn shall be bound by the same duty regarding the storage and modification of data on <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> users.
      </p>

      <p>
        Databases are protected by the provisions of the French Law of 1 July 1998 transposing Directive 96/9 of 11 March 1997 on the legal protection of databases.
      </p>
      <h2>Hyperlinks and cookies</h2>
      <p>
        The <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website contains a certain number of hyperlinks to other websites, inserted with the authorisation of <strong>{{company.name}}</strong>. However, <strong>{{company.name}}</strong> is not able to verify the content of websites thus visited and therefore cannot be held liable in any form for the latter.
      </p>

      <p>
        Browsing the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website is capable of leading to the installation of cookie(s) on the user's computer. A cookie is a small file which does not identify the user, but which records information regarding a computer's browsing of a website. The data thus obtained is intended to facilitate subsequent browsing of the website, as well as to perform various visit-related measurements.
      </p>
      <h2>Applicable law and allocation of jurisdiction</h2>
      <p>
        Any dispute regarding use of the <a href="http://{{ restaurant.host }}/" title="{{ company.name }} - {{ restaurant.host }}">{{ restaurant.host }}</a> website is subject to French law. It falls exclusively under the jurisdiction of the competent courts of {{ company.city }}.
      </p>
    </div>
  </div>
</section>
