<div class="wrapper">
  <aside class="aside aside--contact" itemscope itemtype="http://schema.org/Restaurant">
    <div class="contact-item">
      <h3 class="contact-item__name" itemprop="name">{{ restaurant.name }}</h3>
    </div>
    {% if restaurant.phone? %}
    <div class="contact-item">
      <p>
        <span class="contact-item__label">{{ "Téléphone :" | t }}</span>
        <br>
        <a href="tel:{{ restaurant.phone_uri }}">
          <span itemprop="telephone">{{ restaurant.phone }}</span>
        </a>
      </p>
    </div>
    {% endif %}
    {% if restaurant.email? %}
    <div class="contact-item">
      <p>
        <span class="contact-item__label">{{ "Adresse email :" | t }}</span>
        <br>
        <a href="mailto:{{ restaurant.email }}">
          <span itemprop="email">{{ restaurant.email }}</span>
        </a>
      </p>
    </div>
    {% endif %}
    <div class="contact-item">
      <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span class="contact-item__label">{{ "Adresse :" | t }}</span>
        <br>
        {% if restaurant.street_address? %}
          <span itemprop="streetAddress">{{ restaurant.street_address }}</span>
          <br>
        {% endif %}
        {% if restaurant.zip_code? %}
          <span itemprop="postalCode">{{ restaurant.zip_code }}</span>
        {% endif %}
        {% if restaurant.city? %}
          <span itemprop="addressLocality">{{ restaurant.city }}</span>
        {% endif %}
      </p>
    </div>

    <div class="contact-item">
      <p>
        <span class="contact-item__label">{{ "Horaires :" | t }}</span>
      </p>
      <dl class="opening-days">
        {% for day in opening_hours %}
          {{ day.meta_microdata }}
          <dt class="opening-day">
            {{ day.name }}
          </dt>
          <dd class="opening-shifts">
            {{ day.shifts }}
          </dd>
        {% endfor %}
      </dl>
      {% if restaurant.opening_hours_information? %}
        <div class="opening-hours__information">
          <p>{{ restaurant.opening_hours_information }}</p>
        </div>
      {% endif %}
    </div>
  </aside>

  <section class="page-header page-header--contact">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ contact_settings.contact_title }}</h1>
    </header>
    <div class="section__main page-header__description">
      {{ contact_settings.contact_content }}
    </div>
  </section>

  <section class="page-body page-body--contact">
    {% contact_form %}
      <fieldset class="field-group">
        <div class="input">
          <label for="contactFromName">{{ "Votre nom :" | t }}</label>
          <input id="contactFromName" name="message[from_name]" type="text">
        </div>
        <div class="input">
          <label for="contactFromEmail">{{ "Votre adresse email :" | t }}</label>
          <input id="contactFromEmail" name="message[from_email]" type="text">
        </div>
        <div class="input">
          <label for="contactPhone">{{ "Votre numéro de téléphone :" | t }}</label>
          <input id="contactPhone" name="message[phone]" type="text">
        </div>
        <div class="textarea">
          <label for="contactBody">{{ "Votre message :" | t }}</label>
          <textarea id="contactBody" name="message[body]"></textarea>
        </div>
        <div class="submit">
          <input class="button" type="submit" value="{{ "Envoyer" | t }}">
        </div>
      </fieldset>
    {% endcontact_form %}
  </section>
</div>